@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.card {
  @apply h-56 lg:h-96 shadow-xl overflow-hidden opacity-0 col-span-1 lg:col-span-3;
}

.card.fade-in {
}

.player__image {
  @apply absolute w-full h-full top-0 left-0;
}

span {
  display: inline-block;
}

main {
  position: relative;
  background: url("./assets/images/agusta3.webp") no-repeat center center fixed;
  background-size: cover;
  z-index: -2;
}

main::before,
aside.video::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    346deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 121, 9, 1) 35%,
    rgba(41, 142, 66, 1) 50%
  );
  opacity: 0.4;
}
main::after,
aside.video::after {
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0), mediumblue),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(50%) brightness(10%);
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

aside.video::before {
  z-index: 3;
}
aside.video::after {
  z-index: 3;
}
aside.video h2 {
  z-index: 4 !important;
  font-family: "Helvetica", "PT Sans", "Arial", sans-serif;
}

aside.video {
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 999 !important;
}

.section__players {
  transition: opacity ease-out 1s;
}

/* #main-logo {
  animation: fadeout 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * 0.9s);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

section {
  z-index: 2;
}

.section-one__bg {
}


@media screen and (min-width: 1024px) {
  .players__player {
    animation: goUp 1s ease-out infinite;
    animation-play-state: paused;
    animation-delay: calc((var(--scroll) * var(--index)) * -0.4s);
    animation-iteration-count: 1;
    animation-fill-mode: both; 
  }  
}

.player__image {
  animation: goUp 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc((var(--scroll) * 3 ) * -0.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes goUp {
  to {
    transform: translateY(-100vh);
  }
}
@keyframes fadeout {
  to {
    opacity: 0;
  }
}

.letter-overflow,
.word-overflow {
  display: inline-block;
  overflow: hidden;
}
.letter-overflow__text,
.word-overflow__text {
  display: inline-block;
  /* transform: translateY(125%);
  opacity: 0; */
}

.word-overflow__text {
  margin-right: 15px;
}

.animate-fadeUp > .letter-overflow__text,
.word-overflow__text {
  animation-name: fadeInUp;
  animation-duration: 2000ms;
  animation-delay: calc(1000ms + (var(--index) * 50ms));
  animation-fill-mode: both;
  animation-timing-function: "cubic-bezier(0.61, 1, 0.88, 1)";
}

@keyframes fadeInUp {
  0% {
    transform: translateY(125%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
